.character, .planet{
    padding: 15px;
    background: #413D4C;
    flex-basis: 33.333333333%;
    margin: 25px;
 }
.character img{
    padding: 10px;
}
.list{
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.title{
    text-align: center;
    padding: 15px;
    background: #413D4C;
    flex-basis: 100%;
    margin: 25px; 
}
.num_episode{
    color: gold;
    margin-left: 30%;
}
#number_episode{
    margin-left: 33%;
}
body {
    background: url("images/backgraund.jpg");
}
.gradient-button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin-left: 33%;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
.gradient-button:hover {
    background-position: right center;
}
.pressed-button {
    text-decoration: none;
    display: inline-block;
    padding: 12px 70px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
}
.pressed-button:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}

